.kontaktmain{
  font-family: $font;
  margin: 2% 10%;

    iframe {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 55vh;
        border-style: none;
    }
}

.kontakt{
  section{
    margin: 10% 0%;
  }
}

.kontaktstuff{
  //fill: $golddark;
  font-weight: 300;
  border-radius: 1%;
  display: grid;
  grid-template-columns: 20% 76%;
  grid-column-gap: 4%;
  background-color: $lightest;
  padding: 2%;
  font-size: 12px;
  color: $halfgrey;

  div{
    padding: 5px;
  }

  img{
    width: 100%;
  }
  h3{
    font-weight: 400;
    margin-bottom: 1%;
    margin-top: 0;
    color: black;
    font-size: 15px;
  }
}

.fade-to-white {
    &.active {
        background: rgba(255, 255, 255, 1);
        // border-bottom: 1.3px solid rgba(0, 0, 0, 0.2);
        // border-bottom-left-radius: 5px;
        transition-timing-function: ease;
        transition-duration: 1s;
        color: $tc-black;
    
        >* {
            filter: none;
        }
    }
}

.bg-contact {
    background-image: url('../img/map.jpg');
    background-size: 100% auto;
    background-position: 0% 80%;
    background-repeat: no-repeat;
    filter: saturate(70%);
}


