.forside {
    padding: 1em;

    h2 {
        text-align: center;
    }

    iframe {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 55vh;
        border-style: none;
    }
}
// transition: all 50ms ease;
.bgforside-museum {
    background-image: url('../img/thumbnail.png');
    background-size: 120% auto;
    // background-size: cover;
    background-position: 50% 80%;
    background-repeat: no-repeat;
}
