$tc-black: #252C31;
$filter: drop-shadow(0 0 2px $tc-black);
// $tc-black: #494948;
.img-nice {
    width: 100%;
    max-height: auto;
    object-position: center;
    object-fit: cover;
}

.img-breaker {
    height: 30vh;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    &--face {
        .img-nice {
            transform: translateY(-10%);
        }
    }
}

.video-container {
    margin: 0;
    padding: 0 1rem;


    video {
        // position: sticky;
        z-index: 1;
        top: 1rem;
        max-width: 100%;
        margin: 0;
        padding: 0;
        max-height: 100vh;
    }

    &__description {
        position: relative;
        z-index: 0;
        // position: sticky;
        // top: 1rem;
        background: $tc-black;
        color: #ffffff;
        padding: 1rem;
        margin: 0;
        margin-top: -5px;

        span {
            display: block;
            font-weight: 500;
            font-size: 2rem;
            line-height: 1;
            // margin: 0;
            // padding: 0;
            // float: left;
        }

        svg {
            position: absolute;
            right: 1rem;
            top: 50%;
            height: 4.1rem;
            width: 4rem;
            transform: translateY(-50%);
        }
    }
}

.map {
    position: relative;
    margin-top: 2rem;
    padding: 1rem;

    &__icon-top {
        // width: calc(100% - 1rem);
        position: absolute;
        // display: block;
        height: 4rem;
        width: 4rem;
        left: 50%;
        // top: 75px + 32px;
        // margin-right: -4rem;
        margin-top: -2rem;
        margin-left: -2rem;
        // margin-right: auto;
        filter: drop-shadow(0 1px 2px $tc-black);
    }

    iframe {
        width: 100%;
        height: 50vh;
        margin: 0;
        padding: 0;
        border: 1px solid rgba($tc-black, 0.15);
    }

    &__description {
        // display: block;
        // display: inline-flex;
        position: relative;
        background: $tc-black;
        color: #ffffff;
        padding: 1rem;
        margin: 0;
        margin-top: -5px;

        span {
            display: block;
            font-weight: 500;
            font-size: 2rem;
            line-height: 1;
            // margin: 0;
            // padding: 0;
            // float: left;
        }
        svg {
            position: absolute;
            right: 1rem;
            top: 50%;
            // display: block;
            height: 4.1rem;
            width: 4rem;
            // // margin: 4px;

            // float: right;
            transform: translateY(-50%);
        }
    }
}

.logo-svg {
    // fill: $tc-black;
    fill: #ffffff;

    &--white {
        fill: #ffffff;
    }

    &--loading {
        animation-timing-function: ease-in;
        // fill: #ffffff;
        // fill: #7b6c48;
        // filter: drop-shadow(0 0 2px $tc-black);

        // transform: translate()
        .cls-1 {
            transform-origin: center center;
            // animation: grow 1s infinite;
            // animation: name duration timing-function delay iteration-count direction fill-mode;
            animation-name: grow;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-direction: alternate;
        }
        .cls-2 {
            transform-origin: center center;
            // transform-origin: 50%;
            animation-name: grow;
            animation-delay: .25s;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-direction: alternate;
        }
        .cls-3 {
            transform-origin: center center;
            // transform-origin: 50%;
            animation-name: grow;
            animation-delay: .5s;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-direction: alternate;
        }
    }
}

@keyframes grow {
    from {
        transform: scale(1);
        fill: #efefefef;
    }
    to {
        transform: scale(1.1);
        fill: #7b6c48;
    }
}

.icon-svg {

    // stroke: $tc-black;
    // fill: $tc-black;
    &--white {
        stroke: #ffffff;
        fill: #ffffff;
    }
}

.icon-header-menu {
    stroke: $tc-black;
    fill: $tc-black;

    &--white {
        stroke: #ffffff;
        fill: #ffffff;
    }
}

.icon-close {
    // fill: none;
    stroke-linecap: round;
    // stroke-width: 1.8746;
    stroke-width: 1.5;
    fill: #ffffff;
    stroke: #ffffff;
}

.icon-header {
    stroke: $tc-black;
    fill: $tc-black;

    &--white {
        stroke: #ffffff;
        fill: #ffffff;
    }
}



// .icon-menu {
//     stroke-width: 0.35278;
// }

.frame-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$space: 20px;
$header-height: 150px;
$header-icon-top: $header-height / 4;

.logo {
    &__header {
        top: $header-icon-top;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 2.5rem;
        height: 2.5rem;
        // background: transparent;
        // margin: auto;
        margin: 0;
        padding: 0;
    }
    &__loading {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 50vmin;
        height: 50vmin;
        // background: transparent;
        // margin: auto;
        margin: 0;
        padding: 0;
    }
}

.menu {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $tc-black;
    transition: .5s ease;


    left: 100%;
    z-index: 300;

    .nav-menu-button {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        transform: translate(0%, -50%);
        top: $header-icon-top;
        left: $space;
        cursor: pointer;
    }
    
    &__logo{
        height: 2.5rem;
        width: 2.5rem;
        left: 50%;
        top: $header-icon-top;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10vh;
        background: #ffffff;
        
        .social-links {
            margin: 0;
            padding: 0 1rem;
            width: 100%;
            height: 100%;
            @include isGridContainer('repeat(7, 1fr)');

            li {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .offline-message {
                display: none;
                grid-column: span 2 / -1;
                font-weight: 500;
                text-decoration-line: underline;
                filter: drop-shadow(0 0 .77px red);
                // text-decoration-color: red;
                svg {
                    height: 2rem;
                    width: 2rem;
                }
            
                @at-root {
                    .offline & {
                        display: list-item;
                        display: flex;
                    }
                    #lnr-warning {
                        .path2, .path3 {
                            // stroke: red;
                            fill: red;
                            // stroke-width: 20;

                            transform: scale(2,1);
                            transform-origin: 50%;
                        }
                    }
                }
            }
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            display: block;
        }
    }

    &.show-menu {
        left: 0;
        box-shadow: 0 0 1000px rgba(0, 0, 0, 1);
    }
}


.navbar {
    @include isGridContainer('repeat(3, 1fr)');
    row-gap: 1rem;
    position: relative;
    // margin: 1rem;
    top: 20vh;
    // background: #f0f;
    margin: 0 2rem;
    padding: 0;
    color: #ffffff;
    font-weight: 400;
    
    button {
        background: #ffffff;
        -webkit-appearance: none;
        border: 0;
        // display: block;
        // margin: 0;
        // padding: 1rem;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        text-align: center;
    }
    li {
        margin: auto;

        svg {
            display: block;
            margin: auto;
            width: 4rem;
            height: 4rem;
        }
    }
}

.frame {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 0;
    background: #ffffff;
    // transition: left .7s ease;
    transition: all .7s ease;
    z-index: 100;
    visibility: hidden;
    overflow-y: hidden;
    // columns: 3;
    // text-align: ;
    // text-justify: newspaper;



    >*:nth-child(2) {
        margin-top: calc(#{$header-height} + 1rem);
    }

    h1 {
        padding: 0 1rem;
    }

    &.show {
        // transition: none;
        overflow-y: unset;
        visibility: visible;
        height: unset;
        min-height: 100%;
        left: 0;
        box-shadow: 0 0 1000px rgba(0, 0, 0, 1);
    }
}

.moving-header {
    z-index: 101;
    position: fixed;
    width: 100%;
    height: $header-height;
    will-change: height;
    transition: height 100ms ease-out;


    &--bg-museum {
        background-image: url('../img/museum.png');
        background-size: 120% auto;
        background-position: 50% 80%;
        background-repeat: no-repeat;
    }
    
    &--bg-map {
        background-image: url('../img/map.jpg');
        background-size: 100% auto;
        background-position: 0% 80%;
        background-repeat: no-repeat;
        filter: saturate(70%);
    }

    &--bg-half-black {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    &--bg-white {
        background-color: rgba(255, 255, 255, 1);
    }


    h1 {
        top: $space;
        // left: 50%;
        // right: $space;
        right: 0;
        position: absolute;
        // background: transparent;
        // margin: auto;
        // transform: translate(-50%, 0%);
        margin: 0;
        padding: 0;
    }

    .small-move {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        // max-height: $header-height / 2;
        max-height: 45px;

        // transition: all 10s;
        h1 {
            left: 50%;
            top: 100%;
            position: absolute;
            // transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
        }

        .menu-button {
            top: 100%;
        }
    }

    .center-move {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;


        h1 {
            top: 50%;
            // height: 20%;

            // letter-spacing: unset;
        }
    }
}

.menu-button {
    cursor: pointer;
    position: absolute;
    left: $space;
    top: $header-icon-top;
    // top: 50%;
    transform: translate(0%, -50%);
    height: 1.5rem;
    width: 1.5rem;
}

.logo__header {
    top: $header-icon-top;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 2.5rem;
    height: 2.5rem;
    // background: transparent;
    // margin: auto;
    margin: 0;
    padding: 0;
}

.fade-to-white {
    // position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-in;

    color: #ffffff;

    h1 {
        filter: $filter;
    }

    .logo__header {
        filter: $filter;
    }

    .menu-button {
        filter: $filter;
    }

    &.active {
        background: rgba(255, 255, 255, 1);
        // border-bottom: 1.3px solid rgba(0, 0, 0, 0.2);
        // border-bottom-left-radius: 5px;
        transition-timing-function: ease;
        transition-duration: 1s;
        color: $tc-black;

        >* {
            filter: none;
        }
    }
}

.text-museum {
    h1 {
        // font-size: 7vw;
        font-size: 7vmin;
    }
    p {
        padding: 0 1rem;
    }
}


.helper {
    position: fixed;
    z-index: 250;
    top: 50vh;
    left: 20px;
}

.stack-top {
    z-index: 200;
    // box-shadow: 0 0 1000px rgba(0, 0, 0, 1);
    // transition: box-shadow .1s;
}

.restrict-size {
    height: 100% !important;
    overflow-y: hidden !important;
}

.hidden {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

