.tremuseer{
  display: block;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.tremuseerplus{
  display: inline;
  width: 4rem;
  height: 4rem;
  margin-bottom: -7%;
}
.texth3{
  margin-left: 16%;
  display: inline;
}
.texth2{
  display: inline;
}
.text{
  width: 100%;
  display: inline;
  margin-left: 16%;
}
.textslut{
  width: 100%;
  display: inline;
  margin-left: 16%;
  margin-bottom: 10%;
}
.tremuseerlink{
  text-decoration: none;
  color: grey;
}

.three-museums {
    padding: 1rem;
}

.bg-museums {
    background-image: url('../img/museum2.jpg');
    background-size: 120% auto;
    // background-size: cover;
    background-position: 50% 80%;
    background-repeat: no-repeat;
}
