/* -- { primaer } -- */
$greymain {/*color: #494948;*/ color: rgba(73, 73, 72, 1);}
$goldmain {/*color: #b59556;*/ color: rgba(181, 149, 86, 1);}
/* —- { sekundær } —- */
$lightest {color: #ececec;}
/* —- { tertiær } —- */
$golddark {color: #7c683b; }
$golddarkest {color: #29353b;}
$golddarker {color: #3c4448;}
$lightgold {color: #e0d1b8;}
$halfgrey {color: #757474;}
$greylight {color: #646363;}