/* { primaer } */
$greymain: rgba(73, 73, 72, 1);
$goldmain: rgba(181, 149, 86, 1);
/* { sekundær }  */
$lightest: #ececec;
/* { tertiær }  */
$golddark: #7c683b;
$golddarkest: #29353b;
$golddarker: #3c4448;
$lightgold: #e0d1b8;
$halfgrey: #757474;
$greylight: #646363;